fastapi
uvicorn[standard]

pydantic
pydantic-settings

python-dotenv

python-multipart

qdrant-client

sentence-transformers
transformers
torch

pymupdf
python-docx

numpy
pandas

tqdm

ollama
llama-index
requests